table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

th {
    font-size: 24px; /* Adjust the font size as needed */
    padding: 15px; /* Add space within cells */
    text-align: left;
}

td {
    padding: 5px; 
    text-align: left;
}

/* Additional styles for zebra-striping for better readability */
tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

tbody tr:nth-child(even) {
    background-color: #ffffff;
}

.transactions-table {
    width: 100%;
    border-collapse: collapse;
}

.transactions-table th,
.transactions-table td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.transactions-table th {
    background-color: #f2f2f2;
}

.transactions-table img {
    width: 100px; /* Set image width or use a class */
    height: auto;
}

.transactions-table .total-row {
    font-weight: bold;
    text-align: right;
}