#shopping-cart table {
    width: 100%;
    background-color: #F0F0F0;
  }

  #nav-logo{
    margin-left: 40px;
  }
  
  #shopping-cart table td {
    background-color: #FFFFFF;
  }

  .tbl-cart {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-color: gray;
  }

  tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
  }

  .no-records {
    text-align: center;
    clear: both;
    margin: 38px 0px;
  }

  #product-grid {
    margin: 40px;
    padding-bottom: 650px;
  }

.product-item {
    float: left;
    background: #ffffff;
    margin: 30px 30px 0px 0px;
    border: #E0E0E0 2px solid;
    width: 100%;

  }

.product-image {
	height: 155px;
	width: 250px;
    margin-left:10%;
    margin-right:10%;
	background-color: #FFF;
}

.clear-float{
  clear:both;
}
/* 
.product-quantity {
  padding: 5px 10px;
  margin-left: 20px;
  border-radius: 2px;
  border: #E0E0E0 1px solid;
} */

.product-quantity {
  margin-left: 20px;
}

.product-tile-footer {
  padding: 15px 15px 0px 15px;
  overflow: auto;
}

.product-title {
	margin-bottom: 20px;
}

.product-price {
	float:left;
    margin-top:7px;
}

#shopping-cart {
  margin:40px;
}

.cart-item-image {
    max-width: 250px;
    max-height: 155px;
}

.btnAddAction {
  padding: 5px 10px;
  margin-left: 5px;
  background-color: #efefef;
  border: #E0E0E0 1px solid;
  color: #211a1a;
  float: right;
  text-decoration: none;
  border-radius: 3px;
  cursor: pointer;
}

.checkout-item-image {
  max-width: 150px;
  max-height: 100px;
  border: 1px black solid;
  margin-top: 1%;
}

.checkout-item-title {
  position:relative;
  bottom: 30px;
  left: 10px;
  font-size: 15px;
  line-height: 15px;
}

.checkout-item-author {
  font-weight: bold;
  padding-right: 400px;
}

.td-test{
  text-align: left;
}

.checkout-quantity {
  position:relative;
  left: 500px;
  top: 30%;
  text-align: right;
}

.checkout-item-price {
  position:relative;
  left: 50%;
  bottom: 20%;
  font-size: 18px;
}


#checkout-item-container {
  border: 1px black solid;
  height: 125px;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 1px;
}
.navbar-nav  li a:hover {
  color: #1abc9c !important;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-size: 15px; /* Adjust the font size as needed */
  padding: 15px; /* Add space within cells */
  text-align: left;
}

td {
  padding: 5px; 
  text-align: left;
}

/* Additional styles for zebra-striping for better readability */
tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

tbody tr:nth-child(even) {
  background-color: #ffffff;
}

h2 {
  text-decoration-line: underline;
}

img {
  border-style: double;
  border-color: black;
}

figure { display: table; }


figcaption { 
  display: table-caption; 
  caption-side: bottom ; 
  text-align: center;
  color:gray;
  font-style:italic;
}

footer {
  border-top: black;
  border-top-style:solid;
  font-style:italic;
  text-align: center;
  font-size: 13px;

}

.logo {
  border-style:none;
  width: 40.5px;
  height: 50px;
  margin-top: 20px;
}

.imgModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.primary-nav {
  border-bottom: 4px;
  border-bottom-style: dotted;
}


